<div class="content">
  <div class="logotipo">
    <img src="assets/logo.png" class="logo">
    <h1 class="app-name">Quizzes</h1>
  </div>
  <h1 class="page-title">Login</h1>
  <form [formGroup]="formLogin" class="login-form">
    <div class="box-input">
      <input formControlName="email" type="text" class="input" id="email" required>
      <label for="email" class="label">E-mail</label>
    </div>
    <div class="box-input">
      <input formControlName="password" type="password" class="input" id="password" required>
      <label for=password class="label">Senha</label>
    </div>
    <button [disabled]="formLogin.invalid" (click)="logar()" class="login">Entrar</button>
    <p class="message-error">{{ messageError }}</p>
  </form>
</div>

